<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.wx_pay.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.xindian.wx_pay.domain.OrderInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalFee" column="total_fee" jdbcType="DECIMAL"/>
            <result property="codeUrl" column="code_url" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="patientPhone" column="patient_phone" jdbcType="VARCHAR"/>
            <result property="patientName" column="patient_name" jdbcType="VARCHAR"/>
            <result property="streetAddress" column="street_address" jdbcType="VARCHAR"/>
            <result property="street" column="street" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="postalCode" column="postal_code" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.ruoyi.xindian.wx_pay.domain.OrderInfo" extends="BaseResultMap">

        <collection property="suborderOrderInfos" ofType="suborderOrderInfo" resultMap="com.ruoyi.xindian.wx_pay.mapper.SuborderOrderInfoMapper.ResultMap">
        </collection>
    </resultMap>
    <resultMap id="Map" type="com.ruoyi.xindian.wx_pay.domain.OrderInfo" extends="BaseResultMap">

        <collection property="suborderOrderInfos" ofType="suborderOrderInfo" resultMap="com.ruoyi.xindian.wx_pay.mapper.SuborderOrderInfoMapper.ResultMap">
        </collection>

    </resultMap>
    <resultMap id="UserAndOrder" type="com.ruoyi.xindian.wx_pay.domain.OrderInfo" extends="BaseResultMap">
        <association property="sysUser" javaType="sysUser" resultMap="com.ruoyi.system.mapper.SysUserMapper.SysUserResult">

        </association>
    </resultMap>


    <sql id="Base_Column_List">
        id,title,order_no,
        user_id,product_id,
        total_fee,code_url,order_status,
        open_id,address_id,create_time,update_time,patient_phone,patient_name,street_address,street,city,state,country,postal_code
    </sql>
    <select id="selectAllList" resultType="com.ruoyi.xindian.wx_pay.domain.OrderInfo" resultMap="ResultMap">
        SELECT
        t_order_info.patient_name,
        t_order_info.patient_phone,
        t_order_info.state,
        t_order_info.city,
        t_order_info.country,
        t_order_info.street_address,
        t_order_info.postal_code,
        t_order_info.street,
            t_order_info.id,
            t_order_info.title,
            t_order_info.total_fee,
            t_order_info.order_status,
            t_order_info.create_time,
            t_suborder_order_info.suborder_id,
            t_suborder_order_info.product_id,
            t_suborder_order_info.sum,
            t_product.product_id,
            t_product.product_name,
            t_product.price,
            t_product.product_url,
            t_product.product_description,
            t_product.discount,
            t_product.sales
        FROM

            t_order_info
                INNER JOIN
            t_suborder_order_info
            ON
                t_order_info.id = t_suborder_order_info.order_father
                inner join

            t_product
            on t_suborder_order_info.product_id = t_product.product_id
        <where>
            <if test="orderInfo.orderStatus!=null&amp;&amp;orderInfo.orderStatus!=''">
                and t_order_info.order_status LIKE  concat('%',#{orderInfo.orderStatus},'%')
            </if>
             and t_order_info.user_id = #{userId}
        </where>
        order by t_order_info.id desc
    </select>
    <select id="selectWebAllList" resultType="com.ruoyi.xindian.wx_pay.domain.OrderInfo" resultMap="UserAndOrder">

        SELECT
            t_order_info.id,
            t_order_info.title,
            t_order_info.order_no,
            t_order_info.open_id,
            t_order_info.create_time,
            t_order_info.order_status,
            sys_user.nick_name,
            sys_user.phonenumber
        FROM
            t_order_info
                INNER JOIN
            sys_user
            ON
                t_order_info.user_id = sys_user.user_id

        <where>
            <if test="orderId!=null&amp;&amp;orderId!=''">
                and t_order_info.id like concat('%',#{orderId},'%')
            </if>
            <if test="orderState!=null&amp;&amp;orderState!=''">
                and t_order_info.order_status = #{orderState}
            </if>
            <if test="userPhone!=null&amp;&amp;userPhone!=''">
                and sys_user.phonenumber like concat('%',#{userPhone},'%')
            </if>
        </where>


    </select>
    <select id="selectTOrderInfoById" resultType="com.ruoyi.xindian.wx_pay.domain.OrderInfo" resultMap="BaseResultMap">
        SELECT
            t_order_info.id,
            t_order_info.title,
            t_order_info.order_status,
            t_order_info.total_fee,
            t_order_info.patient_name,
            t_order_info.patient_phone,
            t_order_info.state,
            t_order_info.city,
            t_order_info.country,
            t_order_info.street_address,
            t_order_info.postal_code,
            t_order_info.street
        FROM

            t_order_info
        where t_order_info.id = #{orderId}
    </select>
    <select id="searchAllById" resultType="com.ruoyi.xindian.wx_pay.domain.OrderInfo" resultMap="ResultMap">
        SELECT
            t_order_info.patient_name,
            t_order_info.patient_phone,
            t_order_info.state,
            t_order_info.city,
            t_order_info.country,
            t_order_info.street_address,
            t_order_info.postal_code,
            t_order_info.street,
            t_order_info.id,
            t_order_info.title,
            t_order_info.total_fee,
            t_order_info.order_status,
            t_order_info.create_time,
            t_suborder_order_info.suborder_id,
            t_suborder_order_info.product_id,
            t_suborder_order_info.sum,
            t_suborder_order_info.product_name,
            t_suborder_order_info.product_price,
            t_product.product_id,
            t_product.product_name,
            t_product.price,
            t_product.product_url,
            t_product.product_description,
            t_product.discount,
            t_product.sales
        FROM
            t_order_info
                INNER JOIN
            t_suborder_order_info
            ON
                t_order_info.id = t_suborder_order_info.order_father
                inner join
            t_product
        on t_suborder_order_info.product_id = t_product.product_id
        where t_order_info.id = #{id}



    </select>
</mapper>
