<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.wx_pay.mapper.SuborderOrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.xindian.wx_pay.domain.SuborderOrderInfo">
            <id property="suborderId" column="suborder_id" jdbcType="BIGINT"/>
            <result property="orderFather" column="order_father" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="sum" column="sum" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
        <result property="productName" column="product_name" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.ruoyi.xindian.wx_pay.domain.SuborderOrderInfo" extends="BaseResultMap">
        <association property="product" javaType="product" resultMap="com.ruoyi.xindian.wx_pay.mapper.ProductMapper.BaseResultMap"></association>
    </resultMap>

    <sql id="Base_Column_List">
        suborder_id,order_father,product_id,sum,
       create_time,
        update_time
    </sql>
</mapper>
