<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.alert_log.mapper.AlertLogMapper">

    <resultMap type="AlertLog" id="AlertLogResult">
        <result property="logId"    column="log_id"    />
        <result property="logNumber"    column="log_number"    />
        <result property="logTime"    column="log_time"    />
        <result property="logType"    column="log_type"    />
        <result property="eventName"    column="event_name"    />
        <result property="eventDescription"    column="event_description"    />
        <result property="patientNumber"    column="patient_number"    />
        <result property="hospitalCode"    column="hospital_code"    />
    </resultMap>

    <sql id="selectAlertLogVo">
        select log_id, log_number, log_time, log_type, event_name, event_description, patient_number, hospital_code from alert_log
    </sql>

    <select id="selectAlertLogList" parameterType="AlertLog" resultMap="AlertLogResult">
        <include refid="selectAlertLogVo"/>
        <where>
            <if test="logNumber != null  and logNumber != ''"> and log_number like concat('%', #{logNumber}, '%')</if>
            <if test="logTime != null "> and log_time like concat('%', #{logTime}, '%')</if>
            <if test="logType != null  and logType != ''"> and log_type like concat('%', #{logType}, '%')</if>
            <if test="eventName != null  and eventName != ''"> and event_name like concat('%', #{eventName}, '%')</if>
            <if test="eventDescription != null  and eventDescription != ''"> and event_description like concat('%', #{eventDescription}, '%')</if>
            <if test="patientNumber != null  and patientNumber != ''"> and patient_number like concat('%', #{patientNumber}, '%')</if>
            <if test="hospitalCode != null  and hospitalCode != ''"> and hospital_code like concat('%', #{hospitalCode}, '%')</if>
        </where>
    </select>

    <select id="selectAlertLogByLogId" parameterType="String" resultMap="AlertLogResult">
        <include refid="selectAlertLogVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertAlertLog" parameterType="AlertLog">
        insert into alert_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">log_id,</if>
            <if test="logNumber != null and logNumber != ''">log_number,</if>
            <if test="logTime != null">log_time,</if>
            <if test="logType != null">log_type,</if>
            <if test="eventName != null">event_name,</if>
            <if test="eventDescription != null">event_description,</if>
            <if test="patientNumber != null and patientNumber != ''">patient_number,</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">#{logId},</if>
            <if test="logNumber != null and logNumber != ''">#{logNumber},</if>
            <if test="logTime != null">#{logTime},</if>
            <if test="logType != null">#{logType},</if>
            <if test="eventName != null">#{eventName},</if>
            <if test="eventDescription != null">#{eventDescription},</if>
            <if test="patientNumber != null and patientNumber != ''">#{patientNumber},</if>
            <if test="hospitalCode != null and hospitalCode != ''">#{hospitalCode},</if>
        </trim>
    </insert>

    <update id="updateAlertLog" parameterType="AlertLog">
        update alert_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logNumber != null and logNumber != ''">log_number = #{logNumber},</if>
            <if test="logTime != null">log_time = #{logTime},</if>
            <if test="logType != null">log_type = #{logType},</if>
            <if test="eventName != null">event_name = #{eventName},</if>
            <if test="eventDescription != null">event_description = #{eventDescription},</if>
            <if test="patientNumber != null and patientNumber != ''">patient_number = #{patientNumber},</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code = #{hospitalCode},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteAlertLogByLogId" parameterType="String">
        delete from alert_log where log_id = #{logId}
    </delete>

    <delete id="deleteAlertLogByLogIds" parameterType="String">
        delete from alert_log where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>
