<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.product.mapper.TProductMapper">

    <resultMap type="TProduct" id="TProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="price"    column="price"    />
        <result property="productDescription"    column="product_description"    />
        <result property="productUrl"    column="product_url"    />
        <result property="discount"    column="discount"    />
        <result property="state"    column="state"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="productNum"    column="product_num"    />
        <result property="sales"    column="sales"    />
        <result property="type"    column="type"    />
        <result property="urlOne"    column="url_one"    />
        <result property="frequency"    column="frequency"    />
        <result property="isVip"    column="is_vip"    />
        <result property="video"    column="video"    />
        <result property="title"    column="title"    />
        <result property="discountPrice"    column="discount_price"    />
    </resultMap>

    <resultMap type="ProductImgs" id="ProductImgsResult">
        <result property="productId"    column="product_id"    />
        <result property="img"    column="img"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectTProductVo">
        select product_id, product_name, price, product_description, product_url, discount, state, update_time, create_time, product_num, sales,type,url_one ,frequency,is_vip,video,title, discount_price from t_product
    </sql>

    <select id="selectTProductList" parameterType="TProduct" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        <where>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="productDescription != null  and productDescription != ''"> and product_description = #{productDescription}</if>
            <if test="productUrl != null  and productUrl != ''"> and product_url = #{productUrl}</if>
            <if test="discount != null  and discount != ''"> and discount = #{discount}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="productNum != null  and productNum != ''"> and product_num = #{productNum}</if>
            <if test="sales != null "> and sales = #{sales}</if>
             and type = #{type}
             and state != '2'
             and del_flag = '0'
        </where>
    </select>

    <select id="selectTProductListToWeb" parameterType="TProduct" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        <where>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="productDescription != null  and productDescription != ''"> and product_description = #{productDescription}</if>
            <if test="productUrl != null  and productUrl != ''"> and product_url = #{productUrl}</if>
            <if test="discount != null  and discount != ''"> and discount = #{discount}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="productNum != null  and productNum != ''"> and product_num = #{productNum}</if>
            <if test="sales != null "> and sales = #{sales}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            and del_flag = '0'
        </where>
    </select>


    <select id="selectTProductByProductId" parameterType="Long" resultMap="TProductResult">
        <include refid="selectTProductVo"/>
        where product_id = #{productId}
    </select>

    <select id="selectAllImages" parameterType="Long" resultType="String">
        select img from product_imgs
        where product_id = #{productId}
    </select>
    <select id="selectIdAndImg" parameterType="Long" resultMap="ProductImgsResult">
        select id,img from product_imgs
        where product_id = #{productId}
    </select>
    <insert id="insertProductImgs" parameterType="java.util.ArrayList">
        insert into product_imgs(product_id,img) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId},#{item.img})
        </foreach>
    </insert>


    <insert id="insertTProduct" parameterType="TProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="price != null">price,</if>
            <if test="productDescription != null">product_description,</if>
            <if test="productUrl != null">product_url,</if>
            <if test="discount != null">discount,</if>
            <if test="state != null">state,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="productNum != null">product_num,</if>
            <if test="sales != null">sales,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="urlOne != null">url_one,</if>
            <if test="frequency != null">frequency,</if>
            <if test="isVip != null">is_vip,</if>

            <if test="video != null">video,</if>
            <if test="title != null">title,</if>
            <if test="discountPrice != null">discount_price,</if>
           del_flag
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="price != null">#{price},</if>
            <if test="productDescription != null">#{productDescription},</if>
            <if test="productUrl != null">#{productUrl},</if>
            <if test="discount != null">#{discount},</if>
            <if test="state != null">#{state},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="productNum != null">#{productNum},</if>
            <if test="sales != null">#{sales},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="urlOne != null">#{urlOne},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="isVip != null">#{isVip},</if>

            <if test="video != null">#{video},</if>
            <if test="title != null">#{title},</if>
            <if test="discountPrice != null">#{discountPrice},</if>
           1
        </trim>
    </insert>

    <update id="updateTProduct" parameterType="TProduct">
        update t_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="price != null">price = #{price},</if>
            <if test="productDescription != null">product_description = #{productDescription},</if>
            <if test="productUrl != null">product_url = #{productUrl},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="state != null">state = #{state},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="productNum != null">product_num = #{productNum},</if>
            <if test="sales != null">sales = #{sales},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="urlOne != null">url_one = #{urlOne},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="isVip != null">is_vip = #{isVip},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="video != null">video = #{video},</if>
            <if test="title != null">title = #{title},</if>
            <if test="discountPrice != null">discount_price = #{discountPrice},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteTProductByProductId" parameterType="Long">
        delete from t_product where product_id = #{productId}
    </delete>

    <delete id="deleteByIdImg" parameterType="Integer">
        delete from product_imgs where id in
        <foreach collection="array" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteAllImgs" parameterType="Long">
        delete from product_imgs where product_id = #{productId}
    </delete>

    <update id="deleteTProductByProductIds" parameterType="String">
        update  t_product set del_flag = '1' where product_id in
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </update>

    <select id="selectByIdUrl" parameterType="Integer" resultMap="ProductImgsResult">
        select img from product_imgs where id in
        <foreach collection="array" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
