<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.appData.mapper.AppDataMapper">
    
    <resultMap type="AppData" id="AppDataResult">
        <result property="appDataId"    column="app_data_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="patientSex"    column="patient_sex"    />
        <result property="patientAge"    column="patient_age"    />
        <result property="patientCode"    column="patient_code"    />
        <result property="patientPhone"    column="patient_phone"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectAppDataVo">
        select app_data_id, patient_name, patient_sex, patient_age, patient_code, patient_phone, user_name from app_data
    </sql>

    <select id="selectAppDataList" parameterType="AppData" resultMap="AppDataResult">
        <include refid="selectAppDataVo"/>
        <where>  
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="patientSex != null  and patientSex != ''"> and patient_sex = #{patientSex}</if>
            <if test="patientAge != null  and patientAge != ''"> and patient_age = #{patientAge}</if>
            <if test="patientCode != null  and patientCode != ''"> and patient_code = #{patientCode}</if>
            <if test="patientPhone != null  and patientPhone != ''"> and patient_phone = #{patientPhone}</if>
            <if test="userName != null  and userName != ''"> and user_name = #{userName}</if>
        </where>
    </select>
    
    <select id="selectAppDataByAppDataId" parameterType="Long" resultMap="AppDataResult">
        <include refid="selectAppDataVo"/>
        where app_data_id = #{appDataId}
    </select>
        
    <insert id="insertAppData" parameterType="AppData" useGeneratedKeys="true" keyProperty="appDataId">
        insert into app_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientName != null">patient_name,</if>
            <if test="patientSex != null">patient_sex,</if>
            <if test="patientAge != null">patient_age,</if>
            <if test="patientCode != null">patient_code,</if>
            <if test="patientPhone != null">patient_phone,</if>
            <if test="userName != null">user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientName != null">#{patientName},</if>
            <if test="patientSex != null">#{patientSex},</if>
            <if test="patientAge != null">#{patientAge},</if>
            <if test="patientCode != null">#{patientCode},</if>
            <if test="patientPhone != null">#{patientPhone},</if>
            <if test="userName != null">#{userName},</if>
         </trim>
    </insert>

    <update id="updateAppData" parameterType="AppData">
        update app_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="patientSex != null">patient_sex = #{patientSex},</if>
            <if test="patientAge != null">patient_age = #{patientAge},</if>
            <if test="patientCode != null">patient_code = #{patientCode},</if>
            <if test="patientPhone != null">patient_phone = #{patientPhone},</if>
            <if test="userName != null">user_name = #{userName},</if>
        </trim>
        where app_data_id = #{appDataId}
    </update>

    <delete id="deleteAppDataByAppDataId" parameterType="Long">
        delete from app_data where app_data_id = #{appDataId}
    </delete>

    <delete id="deleteAppDataByAppDataIds" parameterType="String">
        delete from app_data where app_data_id in 
        <foreach item="appDataId" collection="array" open="(" separator="," close=")">
            #{appDataId}
        </foreach>
    </delete>
</mapper>