<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.rotograph.mapper.RotographMapper">
    
    <resultMap type="Rotograph" id="RotographResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="position"    column="position"    />
        <result property="linkId"    column="link_id"    />
<!--        <result property="abstract"    column="abstract"    />-->
        <result property="description"    column="description"    />
        <result property="showPosition"    column="show_position"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="deleteflag"    column="deleteFlag"    />
    </resultMap>

    <sql id="selectRotographVo">
        select id, title, start_time, end_time, position, link_id, abstracted, descriptioned, show_position, image_url, create_by, create_date, update_by, update_date, deleteFlag from rotograph
    </sql>

    <select id="selectRotographList" parameterType="Rotograph" resultMap="RotographResult">
        <include refid="selectRotographVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="linkId != null  and linkId != ''"> and link_id = #{linkId}</if>
            <if test="abstracted != null  and abstracted != ''"> and abstracted = #{abstracted}</if>
            <if test="description != null  and description != ''"> and descriptioned = #{description}</if>
            <if test="showPosition != null  and showPosition != ''"> and show_position = #{showPosition}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
            <if test="deleteflag != null "> and deleteFlag = #{deleteflag}</if>
        </where>
    </select>
    
    <select id="selectRotographById" parameterType="Long" resultMap="RotographResult">
        <include refid="selectRotographVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRotograph" parameterType="Rotograph" useGeneratedKeys="true" keyProperty="id">
        insert into rotograph
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="position != null">position,</if>
            <if test="linkId != null">link_id,</if>
            <if test="abstracted != null">abstracted,</if>
            <if test="description != null">descriptioned,</if>
            <if test="showPosition != null">show_position,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="deleteflag != null">deleteFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="position != null">#{position},</if>
            <if test="linkId != null">#{linkId},</if>
            <if test="abstracted != null">#{abstracted},</if>
            <if test="description != null">#{description},</if>
            <if test="showPosition != null">#{showPosition},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="deleteflag != null">#{deleteflag},</if>
         </trim>
    </insert>

    <update id="updateRotograph" parameterType="Rotograph">
        update rotograph
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="position != null">position = #{position},</if>
            <if test="linkId != null">link_id = #{linkId},</if>
            <if test="abstracted != null">abstracted = #{abstracted},</if>
            <if test="description != null">descriptioned = #{description},</if>
            <if test="showPosition != null">show_position = #{showPosition},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="deleteflag != null">deleteFlag = #{deleteflag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRotographById" parameterType="Long">
#         delete from rotograph where id = #{id}
        update rotograph set deleteflag = 1 where #{id}
    </delete>

    <delete id="deleteRotographByIds" parameterType="String">
        update rotograph set deleteflag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>