<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.patient.mapper.PatientMapper">

    <resultMap type="Patient" id="PatientResult">
        <result property="patientId" column="patient_id"/>
        <result property="patientName" column="patient_name"/>
        <result property="patientCode" column="patient_code"/>
        <result property="patientAge" column="patient_age"/>
        <result property="patientSex" column="patient_sex"/>
        <result property="patientSource" column="patient_source"/>
        <result property="patientPhone" column="patient_phone"/>
        <result property="familyPhone" column="family_phone"/>
        <result property="equipmentId" column="equipment_id"/>
        <result property="monitoringStatus" column="monitoring_status"/>
        <result property="bindingState" column="binding_state"/>
    </resultMap>

    <sql id="selectPatientVo">
        select patient_id,
               patient_name,
               patient_code,
               patient_age,
               patient_sex,
               patient_source,
               patient_phone,
               family_phone,
               equipment_id,
               monitoring_status,
               binding_state
        from patient
    </sql>

    <select id="selectPatientList" parameterType="Patient" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        <where>
            <if test="patientName != null  and patientName != ''">and patient_name like concat('%', #{patientName},
                '%')
            </if>
            <if test="patientCode != null  and patientCode != ''">and patient_code like concat('%', #{patientCode},
                '%')
            </if>
            <if test="patientAge != null  and patientAge != ''">and patient_age like concat('%', #{patientAge}, '%')
            </if>
            <if test="patientSex != null  and patientSex != ''">and patient_sex like concat('%', #{patientSex}, '%')
            </if>
            <if test="patientSource != null  and patientSource != ''">and patient_source like concat('%',
                #{patientSource}, '%')
            </if>
            <if test="patientPhone != null  and patientPhone != ''">and patient_phone like concat('%', #{patientPhone},
                '%')
            </if>
            <if test="familyPhone != null  and familyPhone != ''">and family_phone like concat('%', #{familyPhone},
                '%')
            </if>
            <if test="equipmentId != null  and equipmentId != ''">and equipment_id like concat('%', #{equipmentId},
                '%')
            </if>
            <if test="monitoringStatus != null  and monitoringStatus != ''">and monitoring_status like concat('%',
                #{monitoringStatus}, '%')
            </if>
            <if test="bindingState != null  and bindingState != ''">and binding_state = #{bindingState}</if>
        </where>
        order by monitoring_status desc, patient_id desc
    </select>

    <select id="selectPatientByPatientId" parameterType="Long" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_id = #{patientId}
    </select>

    <select id="selectPatientByPatientCode" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_code = #{patientCode}
    </select>

    <select id="selectPatientByPatientName" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_name = #{patientName}
    </select>

    <select id="selectPatientByNameAndCode" parameterType="patient" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_name = #{patientName} and patient_code = #{patientCode}
    </select>

    <insert id="insertPatient" parameterType="Patient">
        insert into patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null and patientName != ''">patient_name,</if>
            <if test="patientCode != null and patientCode != ''">patient_code,</if>
            <if test="patientAge != null">patient_age,</if>
            <if test="patientSex != null">patient_sex,</if>
            <if test="patientSource != null">patient_source,</if>
            <if test="patientPhone != null">patient_phone,</if>
            <if test="familyPhone != null">family_phone,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="monitoringStatus != null">monitoring_status,</if>
            <if test="bindingState != null">binding_state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null and patientName != ''">#{patientName},</if>
            <if test="patientCode != null and patientCode != ''">#{patientCode},</if>
            <if test="patientAge != null">#{patientAge},</if>
            <if test="patientSex != null">#{patientSex},</if>
            <if test="patientSource != null">#{patientSource},</if>
            <if test="patientPhone != null">#{patientPhone},</if>
            <if test="familyPhone != null">#{familyPhone},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="monitoringStatus != null">#{monitoringStatus},</if>
            <if test="bindingState != null">#{bindingState},</if>
        </trim>
    </insert>

    <update id="updatePatient" parameterType="Patient">
        update patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null and patientName != ''">patient_name = #{patientName},</if>
            <if test="patientCode != null and patientCode != ''">patient_code = #{patientCode},</if>
            <if test="patientAge != null">patient_age = #{patientAge},</if>
            <if test="patientSex != null">patient_sex = #{patientSex},</if>
            <if test="patientSource != null">patient_source = #{patientSource},</if>
            <if test="patientPhone != null">patient_phone = #{patientPhone},</if>
            <if test="familyPhone != null">family_phone = #{familyPhone},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="monitoringStatus != null">monitoring_status = #{monitoringStatus},</if>
            <if test="bindingState != null">binding_state = #{bindingState},</if>
        </trim>
        where patient_id = #{patientId}
    </update>

    <update id="updateMonitoringStatus">
        update patient
        set monitoring_status = 0;
    </update>

    <update id="updateMonitoringStatus2">
        update patient
        set monitoring_status = 1
        where equipment_id = #{param}
    </update>

    <delete id="deletePatientByPatientId" parameterType="Long">
        delete
        from patient
        where patient_id = #{patientId}
    </delete>

    <delete id="deletePatientByPatientIds" parameterType="String">
        delete from patient where patient_id in
        <foreach item="patientId" collection="array" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </delete>
</mapper>
