<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.patient.mapper.PatientMapper">

    <resultMap type="Patient" id="PatientResult">
        <result property="patientId" column="patient_id"/>
        <result property="patientName" column="patient_name_aes"/>
        <result property="patientCode" column="patient_code"/>
        <result property="patientAge" column="patient_age"/>
        <result property="patientSex" column="patient_sex"/>
        <result property="patientSource" column="patient_source"/>
        <result property="patientPhone" column="patient_phone_aes"/>
        <result property="familyPhone" column="family_phone"/>
        <result property="equipmentId" column="equipment_id"/>
        <result property="monitoringStatus" column="monitoring_status"/>
        <result property="bindingState" column="binding_state"/>
        <result property="birthDay"    column="birth_day"    />
        <result property="detectionNum"    column="detection_num"    />
        <result property="createTime"    column="create_time"    />

    </resultMap>

    <sql id="selectPatientVo">
        select patient_id,
               patient_name_aes,
               patient_code,
               patient_age,
               patient_sex,
               patient_source,
               patient_phone_aes,
               family_phone,
               equipment_id,
               monitoring_status,
               binding_state,
               birth_day,
               detection_num

        from patient
    </sql>

    <select id="selectPatientList" parameterType="Patient" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        <where>
            <if test="patientName != null  and patientName != ''">and patient_name_aes like concat('%', #{patientName},
                '%')
            </if>
            <if test="patientCode != null  and patientCode != ''">and patient_code like concat('%', #{patientCode},
                '%')
            </if>
            <if test="patientAge != null  and patientAge != ''">and patient_age like concat('%', #{patientAge}, '%')
            </if>
            <if test="patientSex != null  and patientSex != ''">and patient_sex like concat('%', #{patientSex}, '%')
            </if>

            <if test="patientPhone != null  and patientPhone != ''">and patient_phone_aes like concat('%', #{patientPhone},
                '%')
            </if>
            <if test="familyPhone != null  and familyPhone != ''">and family_phone like concat('%', #{familyPhone},
                '%')
            </if>
            <if test="equipmentId != null  and equipmentId != ''">and equipment_id like concat('%', #{equipmentId},
                '%')
            </if>
            <if test="monitoringStatus != null  and monitoringStatus != ''">and monitoring_status like concat('%',
                #{monitoringStatus}, '%')
            </if>
            <if test="bindingState != null  and bindingState != ''">and binding_state = #{bindingState}</if>
            <if test="birthDay != null "> and birth_day = #{birthDay}</if>
            <if test="detectionNum != null "> and detection_num = #{detectionNum}</if>

            <if test="hospitalNameList != null and hospitalNameList.size()>0">
                and  patient_source in
                <foreach collection="hospitalNameList" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by monitoring_status desc, patient_id desc
    </select>
<!--    <if test="detectionTime != null "> and detection_time = #{detectionTime}</if>-->
    <select id="selectPatientByPatientId" parameterType="Long" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_id = #{patientId}
    </select>

    <select id="selectPatientByPatientPhone" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_phone_aes = #{patientPhone}
    </select>

    <select id="selectPatientByPatientName" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_name_aes = #{patientName}
    </select>

    <select id="selectPatientByNameAndPhone" parameterType="patient" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where patient_name_aes = #{patientName} and patient_phone_aes = #{patientPhone}
    </select>
    <select id="selectAlertLogListPatients" resultType="com.ruoyi.xindian.patient.domain.Patient">
        select * from patient limit #{start},#{end}
    </select>
    <select id="selectPatientByPatientPhoneAndHospitalId"
            resultType="com.ruoyi.xindian.patient.domain.Patient">

    </select>
    <select id="selectPatientListByPhoneList" resultType="com.ruoyi.xindian.patient.domain.Patient" resultMap="PatientResult">
        select patient_id,
        patient_name_aes,
        patient_sex,
        patient_source,
        patient_phone_aes,
        birth_day from patient where patient_phone_aes in
        <foreach collection="patientPhones" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectPatientByCode" resultType="com.ruoyi.xindian.patient.domain.Patient" resultMap="PatientResult">
        SELECT
            patient.patient_name_aes,
            patient.patient_phone_aes,
            patient.birth_day,
            patient.patient_source,
            patient.patient_sex,
            patient.patient_age,
            sys_user.create_time,
             COUNT(*) AS count
        FROM
            patient
                INNER JOIN
            sys_user
            ON
                patient.patient_phone_aes = sys_user.phonenumber_aes
                INNER JOIN
            patient_management
            ON
                patient_management.patient_phone_aes = patient.patient_phone_aes
        <where>
            <if test="equipmentCode!= null and equipmentCode!= ''">
              and  equipment_code =  #{equipmentCode}
            </if>
        </where>
        GROUP BY ecg_type,patient_management.patient_phone_aes,sys_user.create_time order by count desc
    </select>

    <insert id="insertPatient" parameterType="Patient">
        insert into patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null and patientName != ''">patient_name_aes,</if>
            <if test="patientCode != null and patientCode != ''">patient_code,</if>
            <if test="patientAge != null">patient_age,</if>
            <if test="patientSex != null">patient_sex,</if>
            <if test="patientSource != null">patient_source,</if>
            <if test="patientPhone != null">patient_phone_aes,</if>
            <if test="familyPhone != null">family_phone,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="monitoringStatus != null">monitoring_status,</if>
            <if test="bindingState != null">binding_state,</if>
            <if test="birthDay != null">birth_day,</if>
            <if test="detectionNum != null">detection_num,</if>
            <if test="detectionTime != null">detection_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null and patientName != ''">#{patientName},</if>
            <if test="patientCode != null and patientCode != ''">#{patientCode},</if>
            <if test="patientAge != null">#{patientAge},</if>
            <if test="patientSex != null">#{patientSex},</if>
            <if test="patientSource != null">#{patientSource},</if>
            <if test="patientPhone != null">#{patientPhone},</if>
            <if test="familyPhone != null">#{familyPhone},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="monitoringStatus != null">#{monitoringStatus},</if>
            <if test="bindingState != null">#{bindingState},</if>
            <if test="birthDay != null">#{birthDay},</if>
            <if test="detectionNum != null">#{detectionNum},</if>
            <if test="detectionTime != null">#{detectionTime},</if>
        </trim>
    </insert>

    <update id="updatePatient" parameterType="Patient">
        update patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null and patientName != ''">patient_name_aes = #{patientName},</if>
            <if test="patientCode != null and patientCode != ''">patient_code = #{patientCode},</if>
            <if test="patientAge != null">patient_age = #{patientAge},</if>
            <if test="patientSex != null">patient_sex = #{patientSex},</if>
            <if test="patientSource != null">patient_source = #{patientSource},</if>
            <if test="patientPhone != null">patient_phone_aes = #{patientPhone},</if>
            <if test="familyPhone != null">family_phone = #{familyPhone},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="monitoringStatus != null">monitoring_status = #{monitoringStatus},</if>
            <if test="bindingState != null">binding_state = #{bindingState},</if>
            <if test="birthDay != null">birth_day = #{birthDay},</if>
            <if test="detectionNum != null">detection_num = #{detectionNum},</if>
        </trim>
        where patient_id = #{patientId}
    </update>

    <update id="updateMonitoringStatus">
        update patient
        set monitoring_status = 0;
    </update>

    <update id="updateMonitoringStatus2">
        update patient
        set monitoring_status = 1
        where equipment_id = #{param}
    </update>
    <update id="updateDetectionNumInt">
        update patient
        set detection_num = detection_num - 1
        where patient_phone_aes = #{patientPhone}
    </update>
    <update id="updatePatientAes">
        update patient set  family_phone = #{familyPhone} where patient_id=#{patientId}
    </update>

    <delete id="deletePatientByPatientId" parameterType="Long">
        delete
        from patient
        where patient_id = #{patientId}
    </delete>

    <delete id="deletePatientByPatientIds" parameterType="String">
        delete from patient where patient_id in
        <foreach item="patientId" collection="array" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </delete>

    <delete id="delPatientByPatientPhone" parameterType="String">
        delete
        from patient
        where patient_phone_aes = #{patientPhone}
    </delete>
</mapper>
