<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.detection.mapper.DetectionMapper">
    
    <resultMap type="Detection" id="DetectionResult">
        <result property="detectionId"    column="detection_id"    />
        <result property="patientPhone"    column="patient_phone"    />
        <result property="detectionTime"    column="detection_time"    />
        <result property="detectionPid"    column="detection_pid"    />
    </resultMap>

    <sql id="selectDetectionVo">
        select detection_id, patient_phone, detection_time, detection_pid from detection
    </sql>

    <select id="selectDetectionList" parameterType="Detection" resultMap="DetectionResult">
        <include refid="selectDetectionVo"/>
        <where>  
            <if test="patientPhone != null  and patientPhone != ''"> and patient_phone = #{patientPhone}</if>
            <if test="detectionPid != null  and detectionPid != ''"> and detection_pid = #{detectionPid}</if>
            <if test="params.beginDetectionTime != null and params.beginDetectionTime != '' and params.endDetectionTime != null and params.endDetectionTime != ''"> and detection_time between #{params.beginDetectionTime} and #{params.endDetectionTime}</if>
        </where>
    </select>
    
    <select id="selectDetectionByDetectionId" parameterType="Long" resultMap="DetectionResult">
        <include refid="selectDetectionVo"/>
        where detection_id = #{detectionId}
    </select>
        
    <insert id="insertDetection" parameterType="Detection">
        insert into detection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detectionId != null">detection_id,</if>
            <if test="patientPhone != null">patient_phone,</if>
            <if test="detectionTime != null">detection_time,</if>
            <if test="detectionPid != null">detection_pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detectionId != null">#{detectionId},</if>
            <if test="patientPhone != null">#{patientPhone},</if>
            <if test="detectionTime != null">#{detectionTime},</if>
            <if test="detectionPid != null">#{detectionPid},</if>
         </trim>
    </insert>

    <update id="updateDetection" parameterType="Detection">
        update detection
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientPhone != null">patient_phone = #{patientPhone},</if>
            <if test="detectionTime != null">detection_time = #{detectionTime},</if>
            <if test="detectionPid != null">detection_pid = #{detectionPid},</if>
        </trim>
        where detection_id = #{detectionId}
    </update>

    <delete id="deleteDetectionByDetectionId" parameterType="Long">
        delete from detection where detection_id = #{detectionId}
    </delete>

    <delete id="deleteDetectionByDetectionIds" parameterType="String">
        delete from detection where detection_id in 
        <foreach item="detectionId" collection="array" open="(" separator="," close=")">
            #{detectionId}
        </foreach>
    </delete>
</mapper>