<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.hospital.mapper.HospitalSpecialRelationMapper">

    <resultMap type="HospitalSpecialRelation" id="HospitalSpecialRelationResult">
        <result property="id"    column="id"    />
        <result property="hospitalId"    column="hospital_id"    />
        <result property="specialId"    column="special_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <resultMap id="HospitalAndSpecial" type="HospitalSpecialRelation" extends="HospitalSpecialRelationResult" >
        <association property="hospital" javaType="hospital" resultMap="com.ruoyi.xindian.hospital.mapper.HospitalMapper.HospitalResult"/>
        <association property="hospitalSpecial" javaType="hospitalSpecial" resultMap="com.ruoyi.xindian.hospital.mapper.HospitalSpecialMapper.HospitalSpecialResult"/>
    </resultMap>

    <sql id="selectHospitalSpecialRelationVo">
        select id, hospital_id, special_id, gmt_create, gmt_modified from hospital_special_relation
    </sql>

    <select id="selectHospitalSpecialRelationList" parameterType="HospitalSpecialRelation" resultMap="HospitalAndSpecial">
        SELECT
        hospital_special_relation.id,
        hospital_special_relation.gmt_create,
        hospital_special.special_id,
        hospital_special.special_name,
        hospital_special.description,
        hospital_special.gmt_create,
        hospital.hospital_id,
        hospital.hospital_name,
        hospital.hospital_code
        FROM
        hospital_special_relation
        INNER JOIN
        hospital_special
        ON
        hospital_special_relation.special_id = hospital_special.special_id
        INNER JOIN
        hospital
        ON
        hospital_special_relation.hospital_id = hospital.hospital_id
        <where>
            <if test="hospitalId != null "> and hospital_special_relation.hospital_id = #{hospitalId}</if>
            <if test="specialId != null "> and hospital_special_relation.special_id = #{specialId}</if>
            <if test="gmtCreate != null "> and hospital_special_relation.gmt_create like concat(#{gmtCreate},'%') </if>
        </where>
    </select>

    <select id="selectHospitalSpecialRelationById" parameterType="Long" resultMap="HospitalSpecialRelationResult">
        <include refid="selectHospitalSpecialRelationVo"/>
        where id = #{id}
    </select>

    <insert id="insertHospitalSpecialRelation" parameterType="HospitalSpecialRelation" useGeneratedKeys="true" keyProperty="id">
        insert into hospital_special_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">hospital_id,</if>
            <if test="specialId != null">special_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="specialId != null">#{specialId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
        </trim>
    </insert>

    <update id="updateHospitalSpecialRelation" parameterType="HospitalSpecialRelation">
        update hospital_special_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="specialId != null">special_id = #{specialId},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHospitalSpecialRelationById" parameterType="Long">
        delete from hospital_special_relation where id = #{id}
    </delete>

    <delete id="deleteHospitalSpecialRelationByIds" parameterType="String">
        delete from hospital_special_relation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>