<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.hospital.mapper.HospitalSpecialMapper">
    
    <resultMap type="HospitalSpecial" id="HospitalSpecialResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectHospitalSpecialVo">
        select id, name, description from hospital_special
    </sql>

    <select id="selectHospitalSpecialList" parameterType="HospitalSpecial" resultMap="HospitalSpecialResult">
        <include refid="selectHospitalSpecialVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectHospitalSpecialById" parameterType="Long" resultMap="HospitalSpecialResult">
        <include refid="selectHospitalSpecialVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHospitalSpecial" parameterType="HospitalSpecial" useGeneratedKeys="true" keyProperty="id">
        insert into hospital_special
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateHospitalSpecial" parameterType="HospitalSpecial">
        update hospital_special
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHospitalSpecialById" parameterType="Long">
        delete from hospital_special where id = #{id}
    </delete>

    <delete id="deleteHospitalSpecialByIds" parameterType="String">
        delete from hospital_special where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>