<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.hospital.mapper.VisitBlacklistMapper">
    
    <resultMap type="VisitBlacklist" id="VisitBlacklistResult">
        <result property="id"    column="id"    />
        <result property="cardId"    column="card_id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectVisitBlacklistVo">
        select id, card_id, status from visit_blacklist
    </sql>

    <select id="selectVisitBlacklistList" parameterType="VisitBlacklist" resultMap="VisitBlacklistResult">
        <include refid="selectVisitBlacklistVo"/>
        <where>  
            <if test="cardId != null "> and card_id = #{cardId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectVisitBlacklistById" parameterType="Long" resultMap="VisitBlacklistResult">
        <include refid="selectVisitBlacklistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVisitBlacklist" parameterType="VisitBlacklist" useGeneratedKeys="true" keyProperty="id">
        insert into visit_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardId != null">card_id,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardId != null">#{cardId},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateVisitBlacklist" parameterType="VisitBlacklist">
        update visit_blacklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVisitBlacklistById" parameterType="Long">
        delete from visit_blacklist where id = #{id}
    </delete>

    <delete id="deleteVisitBlacklistByIds" parameterType="String">
        delete from visit_blacklist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>