<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.hospital.mapper.DoctorMapper">

    <resultMap type="Doctor" id="DoctorResult">
        <result property="doctorId"    column="doctor_id"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="doctorPhone"    column="doctor_phone"    />
        <result property="departmentCode"    column="department_code"    />
        <result property="departmentName"    column="department_name"    />
        <result property="skill"    column="skill"    />
        <result property="introduction"    column="introduction"    />
        <result property="serviceContent"    column="service_content"    />
        <result property="applicablePopulation"    column="applicable_population"    />
        <result property="chargePrice"    column="charge_price"    />
        <result property="onlineState"    column="online_state"    />
        <result property="hospital"    column="hospital"    />
        <result property="img"    column="img"    />
        <result property="professional"    column="professional"    />
        <result property="openId"    column="open_id"    />
        <result property="unionId"    column="union_id"    />
        <result property="equipmentList"    column="equipment_list"    />
        <result property="isDoc"    column="is_doc"    />
        <result property="outpatientId"    column="outpatient_id"    />
        <result property="specialId"    column="special_id"    />
        <result property="accountStatus"    column="account_status"    />
    </resultMap>

    <sql id="selectDoctorVo">
        select doctor_id, doctor_name_aes as doctor_name, doctor_phone_aes as doctor_phone, department_code, skill, introduction, service_content, applicable_population, charge_price, online_state, hospital, img, professional, open_id, union_id, equipment_list,is_doc,special_id,outpatient_id,account_status from doctor
    </sql>

    <select id="selectDoctorList" parameterType="Doctor" resultMap="DoctorResult">
        SELECT
        doctor.doctor_id,
        doctor.doctor_name_aes as doctor_name,
        doctor.doctor_phone_aes as doctor_phone,
        doctor.department_code,
        doctor.skill,
        doctor.introduction,
        doctor.service_content,
        doctor.applicable_population,
        doctor.charge_price,
        doctor.hospital,
        doctor.img,
        doctor.professional,
        doctor.is_doc,
        department.department_name,
        department.hospital_code,
        department.department_id
        FROM
        department
        INNER JOIN
        doctor
        ON
        doctor.department_code = department.department_code
        <where>
            <if test="doctorName != null  and doctorName != ''"> and doctor_name_aes like concat('%', #{doctorName}, '%')</if>
            <if test="outpatientId != null  and outpatientId != ''"> and outpatient_id =  #{outpatientId} </if>
            <if test="specialId != null  and specialId != ''"> and special_id =  #{specialId} </if>
            <if test="doctorPhone != null  and doctorPhone != ''"> and doctor_phone_aes like concat('%', #{doctorPhone}, '%')</if>
            <if test="departmentCode != null  and departmentCode != ''"> and doctor.department_code like concat('%', #{departmentCode}, '%')</if>
            <if test="skill != null  and skill != ''"> and skill = #{skill}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="serviceContent != null  and serviceContent != ''"> and service_content = #{serviceContent}</if>
            <if test="applicablePopulation != null  and applicablePopulation != ''"> and applicable_population = #{applicablePopulation}</if>
            <if test="chargePrice != null  and chargePrice != ''"> and charge_price = #{chargePrice}</if>
            <if test="onlineState != null  and onlineState != ''"> and online_state = #{onlineState}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="professional != null  and professional != ''"> and professional = #{professional}</if>
            <if test="equipmentList != null  and equipmentList != ''"> and equipment_list = #{equipmentList}</if>
            <if test="hospitalNameList != null and hospitalNameList.size()>0">
                and  hospital in
                <foreach collection="hospitalNameList" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectDoctorByDoctorId" parameterType="Long" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_id = #{doctorId}
    </select>

    <select id="selectDoctorByDoctorPhone" parameterType="String" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_phone_aes = #{doctorPhone}
    </select>
    <select id="selectDoc" resultType="com.ruoyi.xindian.patient_management.vo.ListValueAndLabelVO">
        SELECT hospital as label ,hospital as value
        FROM doctor
        GROUP BY hospital
    </select>
    <select id="selectIsDoctors" resultType="com.ruoyi.xindian.hospital.domain.Doctor">
        <include refid="selectDoctorVo"/>
        where is_doc = '1'
    </select>
    <select id="selectVisitDoc" resultType="com.ruoyi.xindian.hospital.domain.Doctor">
        <include refid="selectDoctorVo"/> where hospital = #{hospitalName} and  is_doc = '2'
    </select>
    <select id="selectXDDoc" resultType="com.ruoyi.xindian.hospital.domain.Doctor">
        <include refid="selectDoctorVo"/> where hospital = #{hospitalName} and  is_doc = '1' and account_status = '0'
    </select>


    <insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="doctorId">
        insert into doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">doctor_name_aes,</if>
            <if test="doctorPhone != null and doctorPhone != ''">doctor_phone_aes,</if>
            <if test="departmentCode != null and departmentCode != ''">department_code,</if>
            <if test="skill != null">skill,</if>
            <if test="introduction != null">introduction,</if>
            <if test="serviceContent != null">service_content,</if>
            <if test="applicablePopulation != null">applicable_population,</if>
            <if test="chargePrice != null">charge_price,</if>
            <if test="onlineState != null">online_state,</if>
            <if test="hospital != null">hospital,</if>
            <if test="img != null">img,</if>
            <if test="professional != null">professional,</if>
            <if test="equipmentList != null">equipment_list,</if>
            <if test="isDoc != null">is_doc,</if>
            <if test="outpatientId != null">outpatient_id,</if>
            <if test="specialId != null">special_id,</if>
            <if test="accountStatus != null">account_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">#{doctorName},</if>
            <if test="doctorPhone != null and doctorPhone != ''">#{doctorPhone},</if>
            <if test="departmentCode != null and departmentCode != ''">#{departmentCode},</if>
            <if test="skill != null">#{skill},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="serviceContent != null">#{serviceContent},</if>
            <if test="applicablePopulation != null">#{applicablePopulation},</if>
            <if test="chargePrice != null">#{chargePrice},</if>
            <if test="onlineState != null">#{onlineState},</if>
            <if test="hospital != null">#{hospital},</if>
            <if test="img != null">#{img},</if>
            <if test="professional != null">#{professional},</if>
            <if test="equipmentList != null">#{equipmentList},</if>
            <if test="isDoc != null">#{isDoc},</if>
            <if test="outpatientId != null">#{outpatientId},</if>
            <if test="specialId != null">#{specialId},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
         </trim>
    </insert>

    <update id="updateDoctor" parameterType="Doctor">
        update doctor
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorName != null">doctor_name_aes = #{doctorName},</if>
            <if test="doctorPhone != null and doctorPhone != ''">doctor_phone_aes = #{doctorPhone},</if>
            <if test="departmentCode != null and departmentCode != ''">department_code = #{departmentCode},</if>
            <if test="skill != null">skill = #{skill},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="serviceContent != null">service_content = #{serviceContent},</if>
            <if test="applicablePopulation != null">applicable_population = #{applicablePopulation},</if>
            <if test="chargePrice != null">charge_price = #{chargePrice},</if>
            <if test="onlineState != null">online_state = #{onlineState},</if>
            <if test="hospital != null">hospital = #{hospital},</if>
            <if test="img != null">img = #{img},</if>
            <if test="professional != null">professional = #{professional},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="equipmentList != null">equipment_list = #{equipmentList},</if>
            <if test="isDoc != null">is_doc = #{isDoc},</if>
            <if test="specialId != null">special_id = #{specialId},</if>
            <if test="outpatientId != null">outpatient_id = #{outpatientId},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="isDoc!=null and isDoc!=2">
              special_id = null,
              outpatient_id = null,
            </if>
        </trim>
        where doctor_id = #{doctorId}
    </update>

    <delete id="deleteDoctorByDoctorId" parameterType="Long">
        delete from doctor where doctor_id = #{doctorId}
    </delete>

    <delete id="deleteDoctorByDoctorIds" parameterType="String">
        delete from doctor where doctor_id in
        <foreach item="doctorId" collection="array" open="(" separator="," close=")">
            #{doctorId}
        </foreach>
    </delete>
</mapper>
