<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.hospital.mapper.DoctorMapper">
    
    <resultMap type="Doctor" id="DoctorResult">
        <result property="doctorId"    column="doctor_id"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="doctorPhone"    column="doctor_phone"    />
        <result property="departmentCode"    column="department_code"    />
        <result property="skill"    column="skill"    />
        <result property="introduction"    column="introduction"    />
        <result property="serviceContent"    column="service_content"    />
        <result property="applicablePopulation"    column="applicable_population"    />
        <result property="chargePrice"    column="charge_price"    />
        <result property="onlineState"    column="online_state"    />
        <result property="hospital"    column="hospital"    />
        <result property="img"    column="img"    />
        <result property="professional"    column="professional"    />
        <result property="openId"    column="open_id"    />
        <result property="unionId"    column="union_id"    />
    </resultMap>

    <sql id="selectDoctorVo">
        select doctor_id, doctor_name, doctor_phone, department_code, skill, introduction, service_content, applicable_population, charge_price, online_state, hospital, img, professional, open_id, union_id from doctor
    </sql>

    <select id="selectDoctorList" parameterType="Doctor" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        <where>  
            <if test="doctorName != null  and doctorName != ''"> and doctor_name like concat('%', #{doctorName}, '%')</if>
            <if test="doctorPhone != null  and doctorPhone != ''"> and doctor_phone like concat('%', #{doctorPhone}, '%')</if>
            <if test="departmentCode != null  and departmentCode != ''"> and department_code like concat('%', #{departmentCode}, '%')</if>
            <if test="skill != null  and skill != ''"> and skill = #{skill}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="serviceContent != null  and serviceContent != ''"> and service_content = #{serviceContent}</if>
            <if test="applicablePopulation != null  and applicablePopulation != ''"> and applicable_population = #{applicablePopulation}</if>
            <if test="chargePrice != null  and chargePrice != ''"> and charge_price = #{chargePrice}</if>
            <if test="onlineState != null  and onlineState != ''"> and online_state = #{onlineState}</if>
            <if test="hospital != null  and hospital != ''"> and hospital = #{hospital}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="professional != null  and professional != ''"> and professional = #{professional}</if>
        </where>
    </select>
    
    <select id="selectDoctorByDoctorId" parameterType="Long" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_id = #{doctorId}
    </select>

    <select id="selectDoctorByDoctorPhone" parameterType="String" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_phone = #{doctorPhone}
    </select>


    <insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="doctorId">
        insert into doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">doctor_name,</if>
            <if test="doctorPhone != null and doctorPhone != ''">doctor_phone,</if>
            <if test="departmentCode != null and departmentCode != ''">department_code,</if>
            <if test="skill != null">skill,</if>
            <if test="introduction != null">introduction,</if>
            <if test="serviceContent != null">service_content,</if>
            <if test="applicablePopulation != null">applicable_population,</if>
            <if test="chargePrice != null">charge_price,</if>
            <if test="onlineState != null">online_state,</if>
            <if test="hospital != null">hospital,</if>
            <if test="img != null">img,</if>
            <if test="professional != null">professional,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">#{doctorName},</if>
            <if test="doctorPhone != null and doctorPhone != ''">#{doctorPhone},</if>
            <if test="departmentCode != null and departmentCode != ''">#{departmentCode},</if>
            <if test="skill != null">#{skill},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="serviceContent != null">#{serviceContent},</if>
            <if test="applicablePopulation != null">#{applicablePopulation},</if>
            <if test="chargePrice != null">#{chargePrice},</if>
            <if test="onlineState != null">#{onlineState},</if>
            <if test="hospital != null">#{hospital},</if>
            <if test="img != null">#{img},</if>
            <if test="professional != null">#{professional},</if>
         </trim>
    </insert>

    <update id="updateDoctor" parameterType="Doctor">
        update doctor
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorName != null">doctor_name = #{doctorName},</if>
            <if test="doctorPhone != null and doctorPhone != ''">doctor_phone = #{doctorPhone},</if>
            <if test="departmentCode != null and departmentCode != ''">department_code = #{departmentCode},</if>
            <if test="skill != null">skill = #{skill},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="serviceContent != null">service_content = #{serviceContent},</if>
            <if test="applicablePopulation != null">applicable_population = #{applicablePopulation},</if>
            <if test="chargePrice != null">charge_price = #{chargePrice},</if>
            <if test="onlineState != null">online_state = #{onlineState},</if>
            <if test="hospital != null">hospital = #{hospital},</if>
            <if test="img != null">img = #{img},</if>
            <if test="professional != null">professional = #{professional},</if>
            <if test="openId != null">open_id = #{openId},</if>
        </trim>
        where doctor_id = #{doctorId}
    </update>

    <delete id="deleteDoctorByDoctorId" parameterType="Long">
        delete from doctor where doctor_id = #{doctorId}
    </delete>

    <delete id="deleteDoctorByDoctorIds" parameterType="String">
        delete from doctor where doctor_id in 
        <foreach item="doctorId" collection="array" open="(" separator="," close=")">
            #{doctorId}
        </foreach>
    </delete>
</mapper>