<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.patient_management.mapper.PatientManagementMapper">

    <resultMap type="PatientManagement" id="PatientManagementResult">
        <result property="pId" column="p_id"/>
        <result property="patientCode" column="patient_code"/>
        <result property="hospitalCode" column="hospital_code"/>
        <result property="equipmentCode" column="equipment_code"/>
        <result property="connectionTime" column="connection_time"/>
        <result property="bedNumber" column="bed_number"/>
        <result property="caseHistoryNumber" column="case_history_number"/>
        <result property="patientName"    column="patient_name"    />
        <result property="patientCode"    column="patient_code"    />
        <result property="patientAge"    column="patient_age"    />
        <result property="patientSex"    column="patient_sex"    />
        <result property="patientSource"    column="patient_source"    />
        <result property="patientPhone"    column="patient_phone"    />
        <result property="familyPhone"    column="family_phone"    />
        <result property="monitoringStatus"    column="monitoring_status"    />
        <result property="hospitalName"    column="hospital_name"    />
        <result property="ecgType"    column="ecg_type"    />
        <result property="onlineStatus"    column="online_status"    />
        <result property="intelligentDiagnosis"    column="intelligent_diagnosis"    />
        <result property="diagnosisStatus"    column="diagnosis_status"    />
        <result property="diagnosisConclusion"    column="diagnosis_conclusion"    />
        <result property="diagnosisDoctor"    column="diagnosis_doctor"    />
        <result property="reportTime"    column="report_time"    />
        <result property="ecgLevel"    column="ecg_level"    />
        <result property="doctorPhone"    column="doctor_phone"    />
    </resultMap>

    <sql id="selectPatientManagementVo">
        select m.p_id, m.patient_code, m.hospital_code, m.equipment_code,
               connection_time, bed_number, case_history_number,
               ecg_type, online_status, patient_name, patient_age, patient_sex, patient_source,
               m.patient_phone, family_phone,  monitoring_status,
               equipment_status, equipment_type, hospital_name, intelligent_diagnosis,
               diagnosis_status, diagnosis_conclusion, diagnosis_doctor, report_time, ecg_level, doctor_phone
        from patient_management m
                 inner join patient p on p.patient_phone = m.patient_phone
                 inner join equipment e on m.equipment_code = e.equipment_code
                 left join hospital h on m.hospital_code = h.hospital_code
                 left join report r on m.p_id = r.p_id
    </sql>

    <select id="selectPatientManagementList" parameterType="PatientManagement" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        <where>
            <if test="pId != null  and pId != ''"> and m.p_id = #{pId}</if>
            <if test="patientName != null  and patientName != ''">and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="patientCode != null  and patientCode != ''">and m.patient_code like concat('%', #{patientCode}, '%')</if>
            <if test="hospitalCode != null  and hospitalCode != ''">and m.hospital_code like concat('%', #{hospitalCode},'%')</if>
            <if test="equipmentCode != null  and equipmentCode != ''">and m.equipment_code like concat('%', #{equipmentCode}, '%')</if>
            <if test="params.beginConnectionTime != null and params.beginConnectionTime != '' and params.endConnectionTime != null and params.endConnectionTime != ''"> and connection_time between #{params.beginConnectionTime} and #{params.endConnectionTime}</if>
            <if test="bedNumber != null  and bedNumber != ''">and bed_number like concat('%', #{bedNumber}, '%')</if>
            <if test="caseHistoryNumber != null  and caseHistoryNumber != ''">and case_history_number like concat('%', #{caseHistoryNumber}, '%')</if>
            <if test="ecgType != null  and ecgType != ''"> and ecg_type = #{ecgType} </if>
            <if test="onlineStatus != null  and onlineStatus != ''"> and online_status = #{onlineStatus}</if>
            <if test="hospitalName != null  and hospitalName != ''"> and hospital_name = #{hospitalName}</if>
            <if test="patientPhone != null  and patientPhone != ''"> and m.patient_phone = #{patientPhone}</if>
            <if test="intelligentDiagnosis != null  and intelligentDiagnosis != ''"> and intelligent_diagnosis like concat('%', #{intelligentDiagnosis}, '%')</if>

            <if test="diagnosisStatus != null "> and diagnosis_status = #{diagnosisStatus}</if>
            <if test="diagnosisConclusion != null  and diagnosisConclusion != ''"> and diagnosis_conclusion like concat('%', #{diagnosisConclusion}, '%')</if>
            <if test="diagnosisDoctor != null  and diagnosisDoctor != ''"> and diagnosis_doctor like concat('%', #{diagnosisDoctor}, '%')</if>
            <if test="params.beginReportTime != null and params.beginReportTime != '' and params.endReportTime != null and params.endReportTime != ''"> and report_time between #{params.beginReportTime} and #{params.endReportTime}</if>
            <if test="ecgLevel != null "> and ecg_level = #{ecgLevel}</if>
            <if test="doctorPhone != null  and doctorPhone != ''"> and doctor_phone like concat('%', #{doctorPhone}, '%')</if>
        </where>
        order by if(isnull(ecg_level),1,0), ecg_level, online_status desc, connection_time desc
    </select>

    <select id="selectPatientManagementListDECGsingle" parameterType="PatientManagement" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        <where>
            <if test="pId != null  and pId != ''"> and m.p_id = #{pId}</if>
            <if test="patientName != null  and patientName != ''">and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="patientCode != null  and patientCode != ''">and m.patient_code like concat('%', #{patientCode}, '%')</if>
            <if test="hospitalCode != null  and hospitalCode != ''">and m.hospital_code like concat('%', #{hospitalCode},'%')</if>
            <if test="equipmentCode != null  and equipmentCode != ''">and m.equipment_code like concat('%', #{equipmentCode}, '%')</if>
            <if test="params.beginConnectionTime != null and params.beginConnectionTime != '' and params.endConnectionTime != null and params.endConnectionTime != ''"> and connection_time between #{params.beginConnectionTime} and #{params.endConnectionTime}</if>
            <if test="bedNumber != null  and bedNumber != ''">and bed_number like concat('%', #{bedNumber}, '%')</if>
            <if test="caseHistoryNumber != null  and caseHistoryNumber != ''">and case_history_number like concat('%', #{caseHistoryNumber}, '%')</if>
            <if test="ecgType != null  and ecgType != ''"> and (ecg_type = "DECGsingleZZ" or ecg_type = "DECGsingleGZ")</if>
            <if test="onlineStatus != null  and onlineStatus != ''"> and online_status = #{onlineStatus}</if>
            <if test="hospitalName != null  and hospitalName != ''"> and hospital_name = #{hospitalName}</if>
            <if test="patientPhone != null  and patientPhone != ''"> and m.patient_phone = #{patientPhone}</if>
            <if test="intelligentDiagnosis != null  and intelligentDiagnosis != ''"> and intelligent_diagnosis like concat('%', #{intelligentDiagnosis}, '%')</if>

            <if test="diagnosisStatus != null  and diagnosisStatus != ''"> and diagnosis_status = #{diagnosisStatus}</if>
            <if test="diagnosisConclusion != null  and diagnosisConclusion != ''"> and diagnosis_conclusion like concat('%', #{diagnosisConclusion}, '%')</if>
            <if test="diagnosisDoctor != null  and diagnosisDoctor != ''"> and diagnosis_doctor like concat('%', #{diagnosisDoctor}, '%')</if>
            <if test="params.beginReportTime != null and params.beginReportTime != '' and params.endReportTime != null and params.endReportTime != ''"> and report_time between #{params.beginReportTime} and #{params.endReportTime}</if>
            <if test="ecgLevel != null "> and ecg_level = #{ecgLevel}</if>
            <if test="doctorPhone != null  and doctorPhone != ''"> and doctor_phone like concat('%', #{doctorPhone}, '%')</if>

        </where>
        order by if(isnull(ecg_level),1,0), ecg_level, online_status desc, connection_time desc
    </select>

    <select id="selectPatientManagementListJECG12" parameterType="PatientManagement" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        <where>
            <if test="pId != null  and pId != ''"> and m.p_id = #{pId}</if>
            <if test="patientName != null  and patientName != ''">and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="patientCode != null  and patientCode != ''">and m.patient_code like concat('%', #{patientCode}, '%')</if>
            <if test="hospitalCode != null  and hospitalCode != ''">and m.hospital_code like concat('%', #{hospitalCode},'%')</if>
            <if test="equipmentCode != null  and equipmentCode != ''">and m.equipment_code like concat('%', #{equipmentCode}, '%')</if>
            <if test="params.beginConnectionTime != null and params.beginConnectionTime != '' and params.endConnectionTime != null and params.endConnectionTime != ''"> and connection_time between #{params.beginConnectionTime} and #{params.endConnectionTime}</if>
            <if test="bedNumber != null  and bedNumber != ''">and bed_number like concat('%', #{bedNumber}, '%')</if>
            <if test="caseHistoryNumber != null  and caseHistoryNumber != ''">and case_history_number like concat('%', #{caseHistoryNumber}, '%')</if>
            <if test="ecgType != null  and ecgType != ''"> and (ecg_type = "JECG12YTJ" or ecg_type = "JECG12YXD")</if>
            <if test="onlineStatus != null  and onlineStatus != ''"> and online_status = #{onlineStatus}</if>
            <if test="hospitalName != null  and hospitalName != ''"> and hospital_name = #{hospitalName}</if>
            <if test="patientPhone != null  and patientPhone != ''"> and m.patient_phone = #{patientPhone}</if>
            <if test="intelligentDiagnosis != null  and intelligentDiagnosis != ''"> and intelligent_diagnosis like concat('%', #{intelligentDiagnosis}, '%')</if>

            <if test="diagnosisStatus != null  and diagnosisStatus != ''"> and diagnosis_status = #{diagnosisStatus}</if>
            <if test="diagnosisConclusion != null  and diagnosisConclusion != ''"> and diagnosis_conclusion like concat('%', #{diagnosisConclusion}, '%')</if>
            <if test="diagnosisDoctor != null  and diagnosisDoctor != ''"> and diagnosis_doctor like concat('%', #{diagnosisDoctor}, '%')</if>
            <if test="params.beginReportTime != null and params.beginReportTime != '' and params.endReportTime != null and params.endReportTime != ''"> and report_time between #{params.beginReportTime} and #{params.endReportTime}</if>
            <if test="ecgLevel != null "> and ecg_level = #{ecgLevel}</if>
            <if test="doctorPhone != null  and doctorPhone != ''"> and doctor_phone like concat('%', #{doctorPhone}, '%')</if>

        </where>
        order by if(isnull(ecg_level),1,0), ecg_level, online_status desc, connection_time desc
    </select>

    <select id="selectPatientManagementByPId" parameterType="String" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        where m.p_id = #{pId}
    </select>

    <insert id="insertPatientManagement" parameterType="PatientManagement" useGeneratedKeys="true" keyProperty="pId">
        insert into patient_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientCode != null and patientCode != ''">patient_code,</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code,</if>
            <if test="equipmentCode != null and equipmentCode != ''">equipment_code,</if>
            <if test="connectionTime != null">connection_time,</if>
            <if test="bedNumber != null">bed_number,</if>
            <if test="caseHistoryNumber != null">case_history_number,</if>
            <if test="ecgType != null">ecg_type,</if>
            <if test="onlineStatus != null">online_status,</if>
            <if test="patientPhone != null">patient_phone,</if>
            <if test="ecgLevel != null">ecg_level,</if>
            <if test="doctorPhone != null">doctor_phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientCode != null and patientCode != ''">#{patientCode},</if>
            <if test="hospitalCode != null and hospitalCode != ''">#{hospitalCode},</if>
            <if test="equipmentCode != null and equipmentCode != ''">#{equipmentCode},</if>
            <if test="connectionTime != null">#{connectionTime},</if>
            <if test="bedNumber != null">#{bedNumber},</if>
            <if test="caseHistoryNumber != null">#{caseHistoryNumber},</if>
            <if test="ecgType != null">#{ecgType},</if>
            <if test="onlineStatus != null">#{onlineStatus},</if>
            <if test="patientPhone != null">#{patientPhone},</if>
            <if test="ecgLevel != null">#{ecgLevel},</if>
            <if test="doctorPhone != null">#{doctorPhone},</if>
        </trim>
    </insert>

    <update id="updatePatientManagement" parameterType="PatientManagement">
        update patient_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientCode != null and patientCode != ''">patient_code = #{patientCode},</if>
            <if test="hospitalCode != null and hospitalCode != ''">hospital_code = #{hospitalCode},</if>
            <if test="equipmentCode != null and equipmentCode != ''">equipment_code = #{equipmentCode},</if>
            <if test="connectionTime != null">connection_time = #{connectionTime},</if>
            <if test="bedNumber != null">bed_number = #{bedNumber},</if>
            <if test="caseHistoryNumber != null">case_history_number = #{caseHistoryNumber},</if>
            <if test="ecgType != null">ecg_type = #{ecgType},</if>
            <if test="onlineStatus != null">online_status = #{onlineStatus},</if>
            <if test="patientPhone != null">patient_phone = #{patientPhone},</if>
            <if test="ecgLevel != null">ecg_level = #{ecgLevel},</if>
            <if test="doctorPhone != null">doctor_phone = #{doctorPhone},</if>
        </trim>
        where p_id = #{pId}
    </update>

    <update id="updateStatusAll">
        update patient_management set online_status = 0
    </update>

    <update id="updateStatus" parameterType="String">
        update patient_management set online_status = 1 where patient_management.p_id in
        <foreach item="pId" collection="array" open="(" separator="," close=")">
            #{pId}
        </foreach>
    </update>

    <delete id="deletePatientManagementByPId" parameterType="String">
        delete
        from patient_management
        where p_id = #{pId}
    </delete>

    <delete id="deletePatientManagementByPIds" parameterType="String">
        delete from patient_management where p_id in
        <foreach item="pId" collection="array" open="(" separator="," close=")">
            #{pId}
        </foreach>
    </delete>
</mapper>
