<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.report.mapper.ReportMapper">

    <resultMap type="Report" id="ReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="pId"    column="p_id"    />
        <result property="diagnosisStatus"    column="diagnosis_status"    />
        <result property="diagnosisConclusion"    column="diagnosis_conclusion"    />
        <result property="diagnosisDoctor"    column="diagnosis_doctor"    />
        <result property="reportTime"    column="report_time"    />
        <result property="reportType"    column="report_type"    />
        <result property="intelligentDiagnosis"    column="intelligent_diagnosis"    />
        <result property="dPhone"    column="d_phone"    />
        <result property="handlingSuggestion"    column="handling_suggestion"    />
        <result property="healthAdvice"    column="health_advice"    />
        <result property="pPhone"    column="p_phone"    />
    </resultMap>

    <sql id="selectReportVo">
        select report_id, p_id, diagnosis_status, diagnosis_conclusion, diagnosis_doctor, report_time, report_type, intelligent_diagnosis, d_phone, handling_suggestion, health_advice, p_phone from report
    </sql>

    <select id="selectReportList" parameterType="Report" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <where>
            <if test="pId != null  and pId != ''"> and p_id = #{pId}</if>
            <if test="diagnosisStatus != null"> and diagnosis_status = #{diagnosisStatus}</if>
            <if test="diagnosisConclusion != null  and diagnosisConclusion != ''"> and diagnosis_conclusion like concat('%', #{diagnosisConclusion}, '%')</if>
            <if test="diagnosisDoctor != null  and diagnosisDoctor != ''"> and diagnosis_doctor like concat('%', #{diagnosisDoctor}, '%')</if>
            <if test="params.beginReportTime != null and params.beginReportTime != '' and params.endReportTime != null and params.endReportTime != ''"> and report_time between #{params.beginReportTime} and #{params.endReportTime}</if>
            <if test="reportType != null  and reportType != ''"> and report_type = #{reportType}</if>
            <if test="intelligentDiagnosis != null  and intelligentDiagnosis != ''"> and intelligent_diagnosis = #{intelligentDiagnosis}</if>
            <if test="dPhone != null  and dPhone != ''"> and d_phone = #{dPhone}</if>
            <if test="handlingSuggestion != null  and handlingSuggestion != ''"> and handling_suggestion = #{handlingSuggestion}</if>
            <if test="healthAdvice != null  and healthAdvice != ''"> and health_advice = #{healthAdvice}</if>
            <if test="pPhone != null  and pPhone != ''"> and p_phone = #{pPhone}</if>
        </where>
    </select>

    <select id="selectReportByReportId" parameterType="Long" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where report_id = #{reportId}
    </select>

    <select id="selectReportByPId" parameterType="string" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where p_id = #{pId}
    </select>


    <insert id="insertReport" parameterType="Report" useGeneratedKeys="true" keyProperty="reportId">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">p_id,</if>
            <if test="diagnosisStatus != null">diagnosis_status,</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion,</if>
            <if test="diagnosisDoctor != null">diagnosis_doctor,</if>
            <if test="reportTime != null">report_time,</if>
            <if test="reportType != null">report_type,</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis,</if>
            <if test="dPhone != null">d_phone,</if>
            <if test="handlingSuggestion != null">handling_suggestion,</if>
            <if test="healthAdvice != null">health_advice,</if>
            <if test="pPhone != null">p_phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">#{pId},</if>
            <if test="diagnosisStatus != null">#{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">#{diagnosisConclusion},</if>
            <if test="diagnosisDoctor != null">#{diagnosisDoctor},</if>
            <if test="reportTime != null">#{reportTime},</if>
            <if test="reportType != null">#{reportType},</if>
            <if test="intelligentDiagnosis != null">#{intelligentDiagnosis},</if>
            <if test="dPhone != null">#{dPhone},</if>
            <if test="handlingSuggestion != null">#{handlingSuggestion},</if>
            <if test="healthAdvice != null">#{healthAdvice},</if>
            <if test="pPhone != null">#{pPhone},</if>
        </trim>
    </insert>

    <update id="updateReport" parameterType="Report">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="pId != null and pId != ''">p_id = #{pId},</if>
            <if test="diagnosisStatus != null">diagnosis_status = #{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion = #{diagnosisConclusion},</if>
            <if test="diagnosisDoctor != null">diagnosis_doctor = #{diagnosisDoctor},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis = #{intelligentDiagnosis},</if>
            <if test="dPhone != null">d_phone = #{dPhone},</if>
            <if test="handlingSuggestion != null">handling_suggestion = #{handlingSuggestion},</if>
            <if test="healthAdvice != null">health_advice = #{healthAdvice},</if>
            <if test="pPhone != null">p_phone = #{pPhone},</if>
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteReportByReportId" parameterType="Long">
        delete from report where report_id = #{reportId}
    </delete>

    <delete id="deleteReportByReportIds" parameterType="String">
        delete from report where report_id in
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
</mapper>
