<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.report.mapper.ReportMapper">

    <resultMap type="Report" id="ReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="pId"    column="p_id"    />
        <result property="diagnosisStatus"    column="diagnosis_status"    />
        <result property="diagnosisConclusion"    column="diagnosis_conclusion"    />
        <result property="diagnosisDoctor"    column="diagnosis_doctor_aes"    />
        <result property="reportTime"    column="report_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="reportType"    column="report_type"    />
        <result property="intelligentDiagnosis"    column="intelligent_diagnosis"    />
        <result property="dPhone"    column="d_phone_aes"    />
        <result property="handlingSuggestion"    column="handling_suggestion"    />
        <result property="healthAdvice"    column="health_advice"    />
        <result property="pPhone"    column="p_phone_aes"    />
        <result property="patientSymptom"    column="patient_symptom"    />
        <result property="loginUserPhone"    column="login_user_phone"    />
        <result property="refuseText"    column="refuse_text"    />
        <result property="reportNormal"    column="report_normal"    />
        <result property="logType"    column="log_type"    />
    </resultMap>

    <sql id="selectReportVo">
        select report_id,p_id, diagnosis_status, diagnosis_conclusion, diagnosis_doctor_aes, report_time, report_type, intelligent_diagnosis, d_phone_aes, handling_suggestion, health_advice, p_phone_aes,patient_symptom,start_time,login_user_phone,refuse_text,report_normal from report
    </sql>

    <select id="selectReportList" parameterType="Report" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <where>
            <if test="pId != null  and pId != ''"> and p_id = #{pId}</if>
            <if test="diagnosisStatus != null"> and diagnosis_status = #{diagnosisStatus}</if>
            <if test="diagnosisConclusion != null  and diagnosisConclusion != ''"> and diagnosis_conclusion like concat('%', #{diagnosisConclusion}, '%')</if>
            <if test="diagnosisDoctor != null  and diagnosisDoctor != ''"> and diagnosis_doctor_aes like concat('%', #{diagnosisDoctor}, '%')</if>
            <if test="startReportTime != null and startReportTime != '' and endReportTime != null and endReportTime != ''"> and report_time between #{startReportTime} and DATE_ADD(#{endReportTime}, INTERVAL 1 DAY) </if>
            <if test="reportType != null  and reportType != ''"> and report_type like concat(#{reportType}, '%')</if>
            <if test="intelligentDiagnosis != null  and intelligentDiagnosis != ''"> and intelligent_diagnosis = #{intelligentDiagnosis}</if>
            <if test="dPhone != null  and dPhone != ''"> and d_phone_aes = #{dPhone}</if>
            <if test="handlingSuggestion != null  and handlingSuggestion != ''"> and handling_suggestion = #{handlingSuggestion}</if>
            <if test="healthAdvice != null  and healthAdvice != ''"> and health_advice = #{healthAdvice}</if>
            <if test="pPhone != null  and pPhone != ''"> and p_phone_aes = #{pPhone}</if>
            <if test="patientSymptom != null  and patientSymptom != ''"> and patient_symptom = #{patientSymptom}</if>
        </where>
        order by report_time desc
    </select>

    <select id="selectReportByReportId" parameterType="Long" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where report_id = #{reportId}
    </select>

    <select id="selectReportByPId" parameterType="string" resultMap="ReportResult">
        select report_id, report.p_id, diagnosis_status, diagnosis_conclusion, diagnosis_doctor_aes, report_time, report_type, intelligent_diagnosis, d_phone_aes, handling_suggestion, health_advice, p_phone_aes,patient_symptom,start_time,login_user_phone,refuse_text,report_normal,patient_management.log_type
        from report inner join patient_management on report.p_id = patient_management.p_id
        where report.p_id = #{pId}
    </select>

    <select id="groupByPatientPhone" parameterType="string" resultMap="ReportResult">
        SELECT p_phone_aes
        FROM report
        WHERE d_phone_aes = #{dPhone} and diagnosis_status= 1 GROUP BY p_phone_aes
    </select>
    <select id="selectA" resultType="com.ruoyi.xindian.report.domain.Report">
        select * from report limit #{start},#{end}
    </select>


    <insert id="insertReport" parameterType="Report" useGeneratedKeys="true" keyProperty="reportId">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">p_id,</if>
            <if test="diagnosisStatus != null">diagnosis_status,</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion,</if>
            <if test="diagnosisDoctor != null">diagnosis_doctor_aes,</if>
            <if test="reportTime != null">report_time,</if>
            <if test="reportType != null">report_type,</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis,</if>
            <if test="dPhone != null">d_phone_aes,</if>
            <if test="handlingSuggestion != null">handling_suggestion,</if>
            <if test="healthAdvice != null">health_advice,</if>
            <if test="pPhone != null">p_phone_aes,</if>
            <if test="patientSymptom != null">patient_symptom,</if>
            <if test="loginUserPhone != null">login_user_phone,</if>
            <if test="refuseText != null">refuse_text,</if>
            <if test="reportNormal != null">report_normal,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">#{pId},</if>
            <if test="diagnosisStatus != null">#{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">#{diagnosisConclusion},</if>
            <if test="diagnosisDoctor != null">#{diagnosisDoctor},</if>
            <if test="reportTime != null">#{reportTime},</if>
            <if test="reportType != null">#{reportType},</if>
            <if test="intelligentDiagnosis != null">#{intelligentDiagnosis},</if>
            <if test="dPhone != null">#{dPhone},</if>
            <if test="handlingSuggestion != null">#{handlingSuggestion},</if>
            <if test="healthAdvice != null">#{healthAdvice},</if>
            <if test="patientSymptom != null">#{patientSymptom},</if>
            <if test="loginUserPhone != null">#{loginUserPhone},</if>
            <if test="refuseText != null">refuseText,</if>
            <if test="reportNormal != null">reportNormal,</if>
        </trim>
    </insert>

    <update id="updateReport" parameterType="Report">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="pId != null and pId != ''">p_id = #{pId},</if>
            <if test="diagnosisStatus != null">diagnosis_status = #{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion = #{diagnosisConclusion},</if>
            <if test="diagnosisDoctor != null">diagnosis_doctor_aes = #{diagnosisDoctor},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis = #{intelligentDiagnosis},</if>
            <if test="dPhone != null">d_phone_aes = #{dPhone},</if>
            <if test="handlingSuggestion != null">handling_suggestion = #{handlingSuggestion},</if>
            <if test="healthAdvice != null">health_advice = #{healthAdvice},</if>
            <if test="pPhone != null">p_phone_aes = #{pPhone},</if>
            <if test="patientSymptom != null">patient_symptom = #{patientSymptom},</if>
            <if test="loginUserPhone != null">login_user_phone = #{loginUserPhone},</if>
            <if test="reportNormal != null">report_normal = #{reportNormal},</if>
            <if test="refuseText != null">refuse_text = #{refuseText},</if>
        </trim>
        where report_id = #{reportId}
    </update>
    <update id="updateReportNull">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="pId != null and pId != ''">p_id = #{pId},</if>
            <if test="diagnosisStatus != null">diagnosis_status = #{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion = #{diagnosisConclusion},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis = #{intelligentDiagnosis},</if>
            <if test="handlingSuggestion != null">handling_suggestion = #{handlingSuggestion},</if>
            <if test="healthAdvice != null">health_advice = #{healthAdvice},</if>
            <if test="pPhone != null">p_phone_aes = #{pPhone},</if>
            <if test="patientSymptom != null">patient_symptom = #{patientSymptom},</if>
            <if test="loginUserPhone != null">login_user_phone = #{loginUserPhone},</if>
            <if test="reportNormal != null">report_normal = #{reportNormal},</if>
            <if test="refuseText != null">refuse_text = #{refuseText},</if>
            diagnosis_doctor_aes = null,
            d_phone_aes = null,
        </trim>
        where report_id = #{reportId}
    </update>
    <update id="updateReportByPId">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagnosisStatus != null">diagnosis_status = #{diagnosisStatus},</if>
            <if test="diagnosisConclusion != null">diagnosis_conclusion = #{diagnosisConclusion},</if>
            <if test="diagnosisDoctor != null">diagnosis_doctor_aes = #{diagnosisDoctor},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="intelligentDiagnosis != null">intelligent_diagnosis = #{intelligentDiagnosis},</if>
            <if test="dPhone != null">d_phone_aes = #{dPhone},</if>
            <if test="handlingSuggestion != null">handling_suggestion = #{handlingSuggestion},</if>
            <if test="healthAdvice != null">health_advice = #{healthAdvice},</if>
            <if test="pPhone != null">p_phone_aes = #{pPhone},</if>
            <if test="patientSymptom != null">patient_symptom = #{patientSymptom},</if>
            <if test="loginUserPhone != null">login_user_phone = #{loginUserPhone},</if>
            <if test="reportNormal != null">report_normal = #{reportNormal},</if>
            <if test="refuseText != null">refuse_text = #{refuseText},</if>
        </trim>
        where p_id = #{pId}
    </update>

    <delete id="deleteReportByReportId" parameterType="Long">
        delete from report where report_id = #{reportId}
    </delete>

    <delete id="deleteReportByReportIds" parameterType="String">
        delete from report where report_id in
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
</mapper>
