<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.relationship.mapper.PatientRelationshipMapper">

    <resultMap type="PatientRelationship" id="PatientRelationshipResult">
        <result property="id"    column="id"    />
        <result property="fatherPhone"    column="father_phone_aes"    />
        <result property="sonPhone"    column="son_phone_aes"    />
        <result property="relationship"    column="relationship"    />
    </resultMap>

    <sql id="selectPatientRelationshipVo">
        select id, father_phone_aes, son_phone_aes, relationship from patient_relationship
    </sql>

    <select id="selectPatientRelationshipList" parameterType="PatientRelationship" resultMap="PatientRelationshipResult">
        <include refid="selectPatientRelationshipVo"/>
        <where>
            <if test="fatherPhone != null  and fatherPhone != ''"> and father_phone_aes = #{fatherPhone}</if>
            <if test="sonPhone != null  and sonPhone != ''"> and son_phone_aes = #{sonPhone}</if>
            <if test="relationship != null  and relationship != ''"> and relationship = #{relationship}</if>
        </where>
        order by id asc
    </select>

    <select id="selectPatientRelationshipById" parameterType="Long" resultMap="PatientRelationshipResult">
        <include refid="selectPatientRelationshipVo"/>
        where id = #{id}
    </select>
    <select id="selectFatherPhonePatientRelationship"
            resultType="com.ruoyi.xindian.relationship.domain.PatientRelationship">
        <include refid="selectPatientRelationshipVo"/>
        where son_phone_aes = #{phone}
    </select>
    <select id="selectPatientRelationshipListLimit"
            resultType="com.ruoyi.xindian.relationship.domain.PatientRelationship">
        select * from patient_relationship limit #{start},#{end}
    </select>
    <select id="selectToAlertOpenids" resultType="java.lang.String">
        SELECT
            wp.open_id
        from patient_relationship  pr
             join sys_user  su on pr.son_phone_aes = su.phonenumber_aes
             join wx_public wp on su.union_id = wp.union_id
        where pr.father_phone_aes = #{fatherPhone}
    </select>

    <insert id="insertPatientRelationship" parameterType="PatientRelationship" useGeneratedKeys="true" keyProperty="id">
        insert into patient_relationship
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fatherPhone != null">father_phone_aes,</if>
            <if test="sonPhone != null">son_phone_aes,</if>
            <if test="relationship != null">relationship,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fatherPhone != null">#{fatherPhone},</if>
            <if test="sonPhone != null">#{sonPhone},</if>
            <if test="relationship != null">#{relationship},</if>
        </trim>
    </insert>

    <update id="updatePatientRelationship" parameterType="PatientRelationship">
        update patient_relationship
        <trim prefix="SET" suffixOverrides=",">
            <if test="fatherPhone != null">father_phone_aes = #{fatherPhone},</if>
            <if test="sonPhone != null">son_phone_aes = #{sonPhone},</if>
            <if test="relationship != null">relationship = #{relationship},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePatientRelationshipById" parameterType="Long">
        delete from patient_relationship where id = #{id}
    </delete>

    <delete id="deletePatientRelationshipByIds" parameterType="String">
        delete from patient_relationship where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
