<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.patientCount.mapper.PatientCountMapper">

    <resultMap id="PatientCountResult" type="com.ruoyi.xindian.patientCount.domain.PatientCount">
        <result property="userId"    column="user_id"    />
        <result property="phonenumberAes"    column="phonenumber_aes"    />
        <result property="detectionTime"    column="detection_time"    />
        <result property="detectionNum"    column="detection_num"    />
        
    </resultMap>

    <sql id="selectPatientCountVo">
        select user_id, phonenumber_aes, detection_time, detection_num from sys_user
    </sql>


</mapper>
