<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.label.mapper.AlertLogAuditMapper">

    <resultMap id="AlertLogAuditResult" type="com.ruoyi.xindian.label.domain.AlertLogAudit">
            <id property="logId" column="log_id" jdbcType="VARCHAR"/>
            <result property="logNoise" column="log_noise" jdbcType="INTEGER"/>
            <result property="logNoiseLevel" column="log_noise_level" jdbcType="VARCHAR"/>
            <result property="pId" column="p_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="logType" column="log_type" jdbcType="VARCHAR"/>
            <result property="eventName" column="event_name" jdbcType="VARCHAR"/>
            <result property="eventDescription" column="event_description" jdbcType="VARCHAR"/>
            <result property="anoStatus" column="ano_status" jdbcType="TINYINT"/>
            <result property="dataLabel" column="data_label" jdbcType="VARCHAR"/>
            <result property="pointLabel" column="point_label" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="selectAlertLogAuditVo">
        select log_id, log_noise, log_noise_level, p_id, user_id, log_type, event_name, event_description, ano_status, data_label, point_label from alert_log_audit
    </sql>


    <select id="selectAlertLogAuditByLogId" parameterType="String" resultMap="AlertLogAuditResult">
        <include refid="selectAlertLogAuditVo"/>
        where log_id = #{logId}
    </select>
    <select id="selectAlertLogAuditList" resultType="com.ruoyi.xindian.label.VO.AuditVo">
        select b.log_id as logId,b.user_log_noise_level as userLogNoiseLevel,b.audit_log_noise_level as auditLogNoiseLevel,b.user_user_id as userUserId,b.audit_user_id as auditUserId,b.user_ano_status as userAnoStatus ,b.audit_ano_status as auditAnoStatus  from (SELECT  c.log_id,
        c.log_noise_level as user_log_noise_level,
        f.log_noise_level as audit_log_noise_level,
        c.user_id as user_user_id,
        f.user_id as audit_user_id,
        f.ano_status as audit_ano_status,
        c.ano_status as user_ano_status  from alert_log_user c INNER JOIN (SELECT a.p_id  ,count(a.p_id) as num from ano_user a INNER JOIN (select p_id  from ano_admin <where>
        <if test="userId!=null and userId!=''">
            user_id = #{userId}
        </if>
    </where>) b on a.p_id =b.p_id   GROUP BY a.p_id HAVING
        num = 2) d on c.p_id = d.p_id  LEFT JOIN (select user_id ,ano_status ,log_noise_level,log_id from alert_log_audit) f on f.log_id = c.log_id  ORDER BY c.log_id desc ) b
        <where>
            <if test="logId!=null and logId!=''">
                b.log_id = #{logId}
            </if>
            <if test="auditAnoStatus!=null and auditAnoStatus!='' and auditAnoStatus ==1">
                b.audit_ano_status is not null
            </if>
            <if test="auditAnoStatus!=null and auditAnoStatus!='' and auditAnoStatus ==0">
                b.audit_ano_status is null
            </if>
        </where>
    </select>
    <select id="selectLogUser" resultType="com.ruoyi.xindian.label.VO.LogUserVO">
        SELECT
            alert_log_user.log_id,
            alert_log_user.log_noise_level,
            alert_log_user.user_id,
            alert_log_user.log_type
        FROM
            alert_log_user
        WHERE alert_log_user.log_id =#{logId}
    </select>
    <select id="selectAuditList" resultType="com.ruoyi.xindian.label.domain.AlertLogAudit">
        select u.log_id, u.log_noise, u.log_noise_level, u.p_id,u.log_type, u.event_name, u.event_description
        from alert_log_audit u left join patient_management p on u.p_id=p.p_id
        <where>
            <if test="ecgType!=null and ecgType!=''">
                p.ecg_type  like concat('%', #{ecgType}, '%')
            </if>
        </where>
    </select>

    <insert id="insertAlertLogAudit" parameterType="AlertLogAudit">
        insert into alert_log_audit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">log_id,</if>
            <if test="logNoise != null">log_noise,</if>
            <if test="logNoiseLevel != null">log_noise_level,</if>
            <if test="pId != null">p_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="logType != null">log_type,</if>
            <if test="eventName != null">event_name,</if>
            <if test="eventDescription != null">event_description,</if>
            <if test="anoStatus != null">ano_status,</if>
            <if test="dataLabel != null">data_label,</if>
            <if test="pointLabel != null">point_label,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">#{logId},</if>
            <if test="logNoise != null">#{logNoise},</if>
            <if test="logNoiseLevel != null">#{logNoiseLevel},</if>
            <if test="pId != null">#{pId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="logType != null">#{logType},</if>
            <if test="eventName != null">#{eventName},</if>
            <if test="eventDescription != null">#{eventDescription},</if>
            <if test="anoStatus != null">#{anoStatus},</if>
            <if test="dataLabel != null">#{dataLabel},</if>
            <if test="pointLabel != null">#{pointLabel},</if>
        </trim>
    </insert>

    <update id="updateAlertLogAudit" parameterType="AlertLogAudit">
        update alert_log_audit
        <trim prefix="SET" suffixOverrides=",">
            <if test="logNoise != null">log_noise = #{logNoise},</if>
            <if test="logNoiseLevel != null">log_noise_level = #{logNoiseLevel},</if>
            <if test="pId != null">p_id = #{pId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="logType != null">log_type = #{logType},</if>
            <if test="eventName != null">event_name = #{eventName},</if>
            <if test="eventDescription != null">event_description = #{eventDescription},</if>
            <if test="anoStatus != null">ano_status = #{anoStatus},</if>
            <if test="dataLabel != null">data_label = #{dataLabel},</if>
            <if test="pointLabel != null">point_label = #{pointLabel},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteAlertLogAuditByLogId" parameterType="String">
        delete from alert_log_audit where log_id = #{logId}
    </delete>

    <delete id="deleteAlertLogAuditByLogIds" parameterType="String">
        delete from alert_log_audit where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>