<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.slideshow.mapper.AppSlideshowMapper">

    <resultMap type="AppSlideshow" id="AppSlideshowResult">
        <result property="slideshowId"    column="slideshow_id"    />
        <result property="imagePath"    column="image_path"    />
        <result property="isSkip"    column="is_skip"    />
        <result property="path"    column="path"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="type"    column="type"    />
        <result property="cover"    column="cover"    />
    </resultMap>

    <sql id="selectAppSlideshowVo">
        select slideshow_id, image_path, is_skip, path, status, create_time, update_time, type, cover from app_slideshow
    </sql>

    <select id="selectAppSlideshowList" parameterType="AppSlideshow" resultMap="AppSlideshowResult">
        <include refid="selectAppSlideshowVo"/>
        <where>
            <if test="imagePath != null  and imagePath != ''"> and image_path = #{imagePath}</if>
            <if test="isSkip != null  and isSkip != ''"> and is_skip = #{isSkip}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="cover != null  and cover != ''"> and cover = #{cover}</if>
        </where>
    </select>

    <select id="selectAppSlideshowBySlideshowId" parameterType="Long" resultMap="AppSlideshowResult">
        <include refid="selectAppSlideshowVo"/>
        where slideshow_id = #{slideshowId}
    </select>

    <insert id="insertAppSlideshow" parameterType="AppSlideshow">
        insert into app_slideshow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="slideshowId != null">slideshow_id,</if>
            <if test="imagePath != null">image_path,</if>
            <if test="isSkip != null">is_skip,</if>
            <if test="path != null">path,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="cover != null">cover,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="slideshowId != null">#{slideshowId},</if>
            <if test="imagePath != null">#{imagePath},</if>
            <if test="isSkip != null">#{isSkip},</if>
            <if test="path != null">#{path},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="cover != null">#{cover},</if>
        </trim>
    </insert>

    <update id="updateAppSlideshow" parameterType="AppSlideshow">
        update app_slideshow
        <trim prefix="SET" suffixOverrides=",">
            <if test="imagePath != null">image_path = #{imagePath},</if>
            <if test="isSkip != null">is_skip = #{isSkip},</if>
            <if test="path != null">path = #{path},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="cover != null">cover = #{cover},</if>
        </trim>
        where slideshow_id = #{slideshowId}
    </update>

    <delete id="deleteAppSlideshowBySlideshowId" parameterType="Long">
        delete from app_slideshow where slideshow_id = #{slideshowId}
    </delete>

    <delete id="deleteAppSlideshowBySlideshowIds" parameterType="String">
        delete from app_slideshow where slideshow_id in
        <foreach item="slideshowId" collection="array" open="(" separator="," close=")">
            #{slideshowId}
        </foreach>
    </delete>
</mapper>