<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.alert_log.mapper.Jecg12Mapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.xindian.alert_log.domain.Jecg12">
            <result property="pId" column="p_id" jdbcType="VARCHAR"/>
            <result property="waveLabel" column="wave_label" jdbcType="VARCHAR"/>
            <result property="beatLabel" column="beat_label" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id,wave_label,beat_label,
        ecg_data
    </sql>
</mapper>
