<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.message.mapper.MessageMapper">
    
    <resultMap type="Message" id="MessageResult">
        <result property="id"    column="id"    />
        <result property="phone"    column="phone"    />
        <result property="putTime"    column="put_time"    />
        <result property="msgData"    column="msg_data"    />
    </resultMap>

    <sql id="selectMessageVo">
        select id, phone, put_time, msg_data from message
    </sql>

    <select id="selectMessageList" parameterType="Message" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        <where>  
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="params.beginPutTime != null and params.beginPutTime != '' and params.endPutTime != null and params.endPutTime != ''"> and put_time between #{params.beginPutTime} and #{params.endPutTime}</if>
            <if test="msgData != null  and msgData != ''"> and msg_data = #{msgData}</if>
        </where>
    </select>
    
    <select id="selectMessageById" parameterType="Long" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone,</if>
            <if test="putTime != null">put_time,</if>
            <if test="msgData != null">msg_data,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="putTime != null">#{putTime},</if>
            <if test="msgData != null">#{msgData},</if>
         </trim>
    </insert>

    <update id="updateMessage" parameterType="Message">
        update message
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="putTime != null">put_time = #{putTime},</if>
            <if test="msgData != null">msg_data = #{msgData},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMessageById" parameterType="Long">
        delete from message where id = #{id}
    </delete>

    <delete id="deleteMessageByIds" parameterType="String">
        delete from message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>