<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xindian.inform.mapper.InformMapper">

    <resultMap type="Inform" id="InformResult">
        <result property="informId"    column="inform_id"    />
        <result property="informNumber"    column="inform_number"    />
        <result property="patientId"    column="patient_id"    />
        <result property="startTelemetryTime"    column="start_telemetry_time"    />
        <result property="informTime"    column="inform_time"    />
        <result property="informStatus"    column="inform_status"    />
    </resultMap>

    <sql id="selectInformVo">
        select inform_id, inform_number, patient_id,  start_telemetry_time, inform_time, inform_status from inform
    </sql>

    <select id="selectInformList" parameterType="Inform" resultMap="InformResult">
        <include refid="selectInformVo"/>
        <where>
            <if test="informNumber != null  and informNumber != ''"> and inform_number like concat('%', #{informNumber}, '%')</if>
            <if test="patientId != null  and patientId != ''"> and patient_id like concat('%', #{patientId}, '%')</if>
            <if test="startTelemetryTime != null "> and start_telemetry_time like concat('%', #{startTelemetryTime}, '%')</if>
            <if test="informTime != null "> and inform_time like concat('%', #{informTime}, '%')</if>
            <if test="informStatus != null  and informStatus != ''"> and inform_status like concat('%', #{informStatus}, '%')</if>
        </where>
    </select>

    <select id="selectInformByInformId" parameterType="String" resultMap="InformResult">
        <include refid="selectInformVo"/>
        where inform_id = #{informId}
    </select>

    <insert id="insertInform" parameterType="Inform">
        insert into inform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="informId != null">inform_id,</if>
            <if test="informNumber != null and informNumber != ''">inform_number,</if>
            <if test="patientId != null and patientId != ''">patient_id,</if>
            <if test="startTelemetryTime != null">start_telemetry_time,</if>
            <if test="informTime != null">inform_time,</if>
            <if test="informStatus != null">inform_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="informId != null">#{informId},</if>
            <if test="informNumber != null and informNumber != ''">#{informNumber},</if>
            <if test="patientId != null and patientId != ''">#{patientId},</if>
            <if test="startTelemetryTime != null">#{startTelemetryTime},</if>
            <if test="informTime != null">#{informTime},</if>
            <if test="informStatus != null">#{informStatus},</if>
         </trim>
    </insert>

    <update id="updateInform" parameterType="Inform">
        update inform
        <trim prefix="SET" suffixOverrides=",">
            <if test="informNumber != null and informNumber != ''">inform_number = #{informNumber},</if>
            <if test="patientId != null and patientId != ''">patient_id = #{patientId},</if>
            <if test="startTelemetryTime != null">start_telemetry_time = #{startTelemetryTime},</if>
            <if test="informTime != null">inform_time = #{informTime},</if>
            <if test="informStatus != null">inform_status = #{informStatus},</if>
        </trim>
        where inform_id = #{informId}
    </update>

    <delete id="deleteInformByInformId" parameterType="String">
        delete from inform where inform_id = #{informId}
    </delete>

    <delete id="deleteInformByInformIds" parameterType="String">
        delete from inform where inform_id in
        <foreach item="informId" collection="array" open="(" separator="," close=")">
            #{informId}
        </foreach>
    </delete>
</mapper>
